.container {
    width: 100%;  
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
}

.bloco-1{
    background-color: red;
    width: 100%;
    height: 150px;
    order: 0;
    border: solid 1px;
}

.bloco-2{
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    order: 0;
    flex-grow: 1;
    border: solid 1px;
}

.bloco-3{
    background-color: yellow;
    width: 150px;
    height: 150px;
    order: 0;
    flex-grow: 1;
    border: solid 1px;
}